*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}
.active{
    color: turquoise;
    text-decoration: underline;
    font-weight: bold;
}
body , html{
    overflow-x: hidden;
}

/*NAVBAR*/

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
    background-color:rgb(15, 15, 70) ;
}

.navbar :hover{
   
    color:darkgray;
}
.navbar .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  .navbar .search-container button:hover {
    background: #ccc;
  }
.navbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 4px;
    margin-right: 16px;
    font-size: 15px;
  }
.nav-links{
    display: flex;
    align-items: center;
}
.nav-links li{
    margin: 0 30px;

}


header{
    height: 100vh;
    width:100%;
    background-image: url(./images/back1.png) ;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content{
    margin-bottom:150px ;
    color: whitesmoke;
    text-align: center;
}

.header-content{
    font-size: 4vmin;
}
.line{
    width: 150px;
    height: 4px;
    background:turquoise;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn{
    padding: 8px 15px;
    background:turquoise;
    border-radius: 30px;
    color:whitesmoke;
}
.menu-btn{
    position: absolute;
    top: 30px;
    right:30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
/*EVENTS*/
section{
    width: 80%;
    margin: 80px auto;

}
.title{
    text-align: center;
    font-size: 4vmin;
    color: darkblue;
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}
.row .col {
    display: flex;
    flex-direction: column;
    align-items:center ;
}
.events .row{
    margin-top: 50px;
}

h4{
    font-size: 3vmin;
    color: rgba(34, 0, 128, 0.76);
    margin: 20px auto;
}
p{
    color: black;
    padding: 0px 40px;
}
.events .ctn{
    margin-top: 30px;
}

.explore{
    width: 100%;
    height: 80vh;
    background-image: url(./images/bg2.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.explore-content{
    width: 50%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.explore-content .line{
    margin-bottom: 20px;
}
.explore-content h1{
   font-size: 7vmin;
   margin: 90px;
    
}
.explore-content p{
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
.explore-content .ctn{
    margin-top: 40px;
}
.content-col{
    width: 40%;
}
.image-col{
    width: 60%;
}
.tours .image-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.tours .row .col{
    width: 50%;
}
.image-gallery img{
    max-width: 300px;
    margin: 10px;
}
.content-col h1{
    font-size: 7vmin;
    color: rgb(7, 19, 134);
}
.content-col .line{
    margin-left: -1px;
}
.content-col p{
    padding: 0;
    margin: 30px auto;
}
.content-col .ctn{
    margin-left: -100px;
}

.footer{
    width: auto;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: darkblue;
    text-align: center;
}

.footer p{
    color: whitesmoke;
    margin: 20px auto;

}

/*mobile*/

@media only screen and (max-width:850px){
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background:rgba(22, 6, 75, 0.787);
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius:30% ;
    }
    .nav-links li{
        margin: 30px auto;

    }
    .row{
        flex-direction: column;
    }
    .row .col{
        margin: 20px auto;
    }
    .col img {
        max-width: 90%;
    }
    .explore-content{
        width:100%;
    }
    .tours .col{
        width: 100%;
    }
    .image-gallery{
        justify-content: center;
        align-items: center;
    }
    .image-gallery img{
        width: 90%; 
    }
    .footer{
        padding: 10px;
    }
}
/*Animations*/
img{
    transition: transform .3s ease;
}

img:hover{
    transform: scale (1.1);
}
.ctn:hover{
    background: whitesmoke;
    color: darkblue;
    box-shadow: 2px 2px 5px black;
}